/* Configurações Gerais */
* {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Definição de Variáveis (Modo Claro - Padrão) */
:root {
    --bg-color: #EEEEEE;
    --text-color: #222831;
    --border-color: #d5d5d5;
    --container-bg: white;
    --link-color: #4b95f6;
    --link-text: white;
    --border-color-pic: #d5d5d5;
    --icon-color: #222831;
    --icon-hover-color: #4b95f6;
    --footer-bg: #f8f8f8;
    --footer-text: #222831;
}

/* Definição do Modo Escuro */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #0a0a0a;
        --text-color: #EEEEEE;
        --border-color: #2d2d2d;
        --container-bg: #1e1e1e;
        --link-color: #0795f6;
        --link-text: white;
        --border-color-pic: #EEEEEE;
        --icon-color: #EEEEEE;
        --icon-hover-color: #0795f6;
        --footer-bg: #1e1e1e;
        --footer-text: #EEEEEE;
    }
}

body {
    display: block;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:active {
    color: var(--link-color);
}

/* Layout Principal */
.page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
}

/* Estilização do Container de Perfil */
.profile-container {
    position: sticky;
    top: 20px;
    width: 300px;
    background: var(--container-bg);
    padding: 15px;
    border-radius: 32px;
    text-align: center;
    border: 1px solid var(--border-color);
    flex-shrink: 0;
    transition: background-color 0.3s, border-color 0.3s;
}

.profile-container h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.profile-container p {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.profile-container b {
    color: var(--text-color);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid var(--border-color-pic);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.social-links img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.social-links a:hover {
    transform: scale(1.2);
}

.social-icon svg {
    width: 100%;
    height: 100%;
    stroke: var(--icon-color);
    /* Cor do ícone baseada no tema */
    transition: stroke 0.3s;
}

.social-icon:hover svg {
    stroke: var(--icon-hover-color);
    /* Cor ao passar o mouse baseada no tema */
    transform: scale(1.2);
}


/* Estilização do Feed */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--container-bg);
    border-radius: 32px;
    border: 1px solid var(--border-color);
    max-width: 600px;
    flex-grow: 1;
    transition: background-color 0.3s, border-color 0.3s;
}

.post {
    margin: 10px 30px;
    text-align: center;
}

.post p {
    margin-top: 20px 0px 20px 0px;
}

.post img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background: var(--border-color);
    margin: 5px auto;
}

/* Estilos para as páginas dos projetos */
.project-container {
    width: 100%;
    padding: 20px;
}

#project-title {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--text-color);
}

.project-content {
    text-align: left;
    padding: 20px;
    width: 100%;
}

.project-content img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 23px;
}

.back-button {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    padding: 10px 20px;
    background: var(--link-color);
    color: white !important;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.back-button:hover {
    background: #3366a9;
    color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: flex-start; /* ou center, conforme desejado */
}

li::before {
  content: "•";
  margin-right: 0.5em;
  line-height: 1.5;
}


/* Estilização do Rodapé */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    padding: 20px 15% 20px 15%;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid var(--border-color);
    margin-top: auto;
    font-size: 11px;
}

.footer-links a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1024px) {
    .page-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        position: static;
        width: 100%;
        margin-bottom: 10px;
        order: -1;
    }

    .container {
        width: 100%;
    }

    hr {
        max-width: 100%;
        height: 1px;
    }

    footer {
        padding: 15px;
        font-size: 10px;
    }
}